@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap");

/* components stylesheets */
@import url("./src/IngredientList/IngredientsList.css");
@import url("./src/CTAComponent/CTAComponent.css");
@import url("./src/Results/Results.css");
@import url("./src/MBGComponent/MBGComponent.css");
@import url("./src/Benefits/Benefits.css");
@import url("./src/PurchaseOfferComponent/PurchaseOfferComponent.css");

:root {
  /* colors */
  --clr-primary-green: #549663;
  --clr-secondary-yellow: #ffd800;
  --clr-secondary-beige: #f0d8a8;

  --clr-accent-red: #d43b4a;

  --clr-text-black: #363636;
  --clr-text-white: #ffffff;

  --clr-bg-white: #ffffff;
  --clr-bg-grey: #f1f0f5;
  --clr-bg-grey-v2: #f7f7f7;

  /* font-family */
  --ff-primary: "Plus Jakarta Sans", "sans-serif";

  /* font-weight */
  --fw-ex-bold: 800;
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;

  /* font-size */
  --fs-h1: 62px;
  --fs-h2: 40px;
  --fs-h3: 36px;
  --fs-h4: 30px;
  --fs-h6: 24px;
  --fs-body-text: 20px;

  --fs-h2-s: 26px;
  --fs-h4-s: 20px;
  --fs-body-text-s: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* utility classes */
body {
  color: var(--clr-text-black);
  font-family: var(--ff-primary);
}

.container {
  width: calc(min(1170px, 100% - 2rem));
  margin: auto;
  /* border: 1px solid red; */
}

/* SHARED COMPONENTS */

/* green headings */
.green-heading {
  background-color: var(--clr-bg-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary-green);
  padding: 50px 0 80px;
}
.inner-spacer {
  margin: -40px 0;
  width: 100%;
}
.top-heading {
  font-size: var(--fs-h2);
  font-weight: var(--fw-regular);
  line-height: 52px;
  font-style: normal;
  text-align: center;
  color: var(--clr-text-white);
}
.bottom-heading {
  font-size: 50px;
  font-weight: var(--fw-ex-bold);
  line-height: 60px;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
  color: var(--clr-text-white);
}
.arrow-wrapper {
  width: 80px;
  height: 80px;
  isolation: isolate;
  position: relative;
}
.elipse {
  width: 80px;
  height: 80px;
  background-color: var(--clr-bg-grey);
  border-radius: 50%;
}
.arrow-south {
  position: absolute;
  width: 24px;
  height: 36px;
  left: 28px;
  top: 22px;
  z-index: 100;
}

@media only screen and (max-width: 767px) {
  .top-heading {
    font-size: var(--fs-h2-s);
    line-height: 34px;
  }
  .bottom-heading {
    font-size: 34px;
    line-height: 40px;
  }
}

/* MONEY BACK GUARANTEE SECTION */
.mbg-section {
  background-color: var(--clr-bg-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
  gap: 60px;
}
