@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400&display=swap");

/* components stylesheets */
@import url("./src/IngredientList/IngredientsList.css");

:root {
  /* colors */
  --clr-primary-green: #549663;
  --clr-secondary-yellow: #ffd800;
  --clr-secondary-beige: #f0d8a8;

  --clr-accent-red: #d43b4a;

  --clr-text-black: #363636;
  --clr-text-white: #ffffff;

  --clr-bg-white: #ffffff;
  --clr-bg-grey: #f1f0f5;
  --clr-bg-grey-v2: #f7f7f7;

  /* font-family */
  --ff-primary: "Plus Jakarta Sans", "sans-serif";

  /* font-weight */
  --fw-ex-bold: 800;
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;

  /* font-size */
  --fs-h1: 62px;
  --fs-h2: 40px;
  --fs-h3: 36px;
  --fs-h4: 30px;
  --fs-h6: 24px;
  --fs-body-text: 20px;

  --fs-h2-s: 26px;
  --fs-h4-s: 20px;
  --fs-body-text-s: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* utility classes */
body {
  color: var(--clr-text-black);
  font-family: var(--ff-primary);
}

.container {
  width: calc(min(1170px, 100% - 2rem));
  margin: auto;
  /* border: 1px solid red; */
}

.faq-section {
  background-color: var(--clr-bg-grey);
}
.faq-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.faq-heading h2 {
  font-style: normal;
  font-weight: var(--fw-ex-bold);
  font-size: var(--fs-h2-s);
  line-height: 36px;
  text-align: center;
  text-transform: capitalize;
  color: var(--clr-text-black);
}
.faq {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq-question-wrapper {
  border: 2px solid var(--clr-primary-green);
  border-radius: 15px;
}
.faq-title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  padding: 10px 20px;
  background-color: var(--clr-primary-green);
  color: var(--clr-text-white);
  font-style: normal;
  font-weight: var(--fw-ex-bold);
  font-size: 18px;
  line-height: 30px;
}
.faq-body {
  padding: 10px 20px;
  border-radius: 0 0 15px 15px;
  font-style: normal;
  font-weight: var(--fw-regular);
  font-size: var(--fs-body-text-s);
  line-height: 24px;
  background-color: var(--clr-bg-white);
}

@media only screen and (max-width: 767px) {
}
@media only screen and (min-width: 768px) {
  .faq-title {
    font-size: 22px;
    padding: 20px 30px;
  }
  .faq-body {
    padding: 20px 30px;
    font-size: var(--fs-body-text);
    line-height: 28px;
  }
}
@media only screen and (min-width: 992px) {
}
