@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap");

/* components stylesheets */
@import url("./src/IngredientList/IngredientsList.css");

:root {
  /* colors */
  --clr-primary-green: #549663;
  --clr-secondary-yellow: #ffd800;
  --clr-secondary-beige: #f0d8a8;

  --clr-accent-red: #d43b4a;

  --clr-text-black: #363636;
  --clr-text-white: #ffffff;

  --clr-bg-white: #ffffff;
  --clr-bg-grey: #f1f0f5;
  --clr-bg-grey-v2: #f7f7f7;

  /* font-family */
  --ff-primary: "Plus Jakarta Sans", "sans-serif";

  /* font-weight */
  --fw-ex-bold: 800;
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;

  /* font-size */
  --fs-h1: 62px;
  --fs-h2: 40px;
  --fs-h3: 36px;
  --fs-h4: 30px;
  --fs-h6: 24px;
  --fs-body-text: 20px;

  --fs-h2-s: 26px;
  --fs-h4-s: 20px;
  --fs-body-text-s: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* utility classes */
body {
  color: var(--clr-text-black);
  font-family: var(--ff-primary);
}

.container {
  width: calc(min(1170px, 100% - 2rem));
  margin: auto;
  /* border: 1px solid red; */
}

/* RESULTS CARDS */
.results-section {
  background-color: var(--clr-bg-grey);
}
.results-cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.cards-row {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  min-width: 343px;
  max-width: 570px;
  flex: 1 1 343px;
}

.card-img > img {
  filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.2));
  border-radius: 15px;
  max-width: 100%;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}
.card-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-title {
  font-style: normal;
  font-weight: var(--fw-ex-bold);
  font-size: var(--fs-h4);
  line-height: 38px;
  text-align: center;
  color: var(--clr-primary-green);
}
.card-para {
  font-style: normal;
  font-weight: var(--fw-regular);
  font-size: var(--fs-h4-s);
  line-height: 28px;
}
.highlight-para {
  font-weight: var(--fw-ex-bold);
  font-size: var(--fs-h4-s);
  line-height: 28px;
  color: var(--clr-accent-red);
  font-style: italic;
}

/* TESTIMONIALS CARDS */
.testimonials {
  display: flex;
  gap: 30px;
}
.testimonial-card {
  padding: 50px 30px 20px 30px;
  position: relative;
  isolation: isolate;
  border-radius: 15px;
  background-color: var(--clr-bg-white);
  flex: 1;
}
.tst-card-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tst-card-comment > p {
  font-style: italic;
  font-weight: var(--fw-regular);
  font-size: var(--fs-h4-s);
  line-height: 28px;
}
.tst-card-rating {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.tst-card-rating > p {
  font-weight: var(--fw-ex-bold);
  font-size: var(--fs-h4-s);
  line-height: 28px;
  color: var(--clr-primary-green);
}
.quote-vector-container {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0px;
  top: 0px;
  opacity: 0.2;
}
.quote-vector-bg {
  position: absolute;
  left: 8.09%;
  right: 8.33%;
  top: 16.79%;
  bottom: 20.83%;
}

@media only screen and (max-width: 767px) {
  .card {
    min-width: calc(300px - 2rem);
    max-width: 343px;
    gap: 20px;
  }
  .card-body {
    gap: 16px;
  }
  .card-title {
    font-size: var(--fs-h4-s);
  }
  .card-para,
  .highlight-para {
    font-size: var(--fs-body-text-s);
    line-height: 24px;
  }

  /* TESTIMONIALS CARDS */
  .testimonials {
    flex-direction: column;
    align-items: center;
  }
  .testimonial-card {
    max-width: 343px;
  }
}
@media only screen and (min-width: 768px) {
  .card-1 > .card-body {
    gap: 30px;
  }
  .card-2 > .card-body,
  .card-4 > .card-body {
    gap: 40px;
  }
  .card-3 > .card-body {
    gap: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .cards-row {
    gap: 30px;
  }
}
