/* RESULTS SECTION */
.results-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 49px;
}
.results-section {
  background-color: var(--clr-bg-grey);
}

/* RESULTS CARDS */
.results-cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.cards-row {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  min-width: 343px;
  max-width: 570px;
  flex: 1 1 343px;
}
.card-img > img {
  filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.2));
  border-radius: 15px;
  max-width: 100%;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}
.card-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-title {
  font-style: normal;
  font-weight: var(--fw-ex-bold);
  font-size: var(--fs-h4);
  line-height: 38px;
  text-align: center;
  color: var(--clr-primary-green);
}
.card-para {
  font-style: normal;
  font-weight: var(--fw-regular);
  font-size: var(--fs-h4-s);
  line-height: 28px;
}
.highlight-para {
  font-weight: var(--fw-ex-bold);
  font-size: var(--fs-h4-s);
  line-height: 28px;
  color: var(--clr-accent-red);
  font-style: italic;
}

/* TESTIMONIALS CARDS */
.testimonials {
  display: flex;
  gap: 30px;
}
.testimonial-card {
  padding: 50px 30px 20px 30px;
  position: relative;
  isolation: isolate;
  border-radius: 15px;
  background-color: var(--clr-bg-white);
  flex: 1;
}
.tst-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}
.tst-card-comment > p {
  font-style: italic;
  font-weight: var(--fw-regular);
  font-size: var(--fs-h4-s);
  line-height: 28px;
}
.tst-card-rating {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.tst-card-rating > p {
  font-weight: var(--fw-ex-bold);
  font-size: var(--fs-h4-s);
  line-height: 28px;
  color: var(--clr-primary-green);
}
.quote-vector-container {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0px;
  top: 0px;
  opacity: 0.2;
}
.quote-vector-bg {
  position: absolute;
  left: 8.09%;
  right: 8.33%;
  top: 16.79%;
  bottom: 20.83%;
}

@media only screen and (max-width: 767px) {
  /* RESULTS CARDS */
  .card {
    min-width: calc(300px - 2rem);
    max-width: 343px;
    gap: 20px;
  }
  .card-body {
    gap: 16px;
  }
  .card-title {
    font-size: var(--fs-h4-s);
  }
  .card-para,
  .highlight-para {
    font-size: var(--fs-body-text-s);
    line-height: 24px;
  }

  /* TESTIMONIALS CARDS */
  .testimonials {
    flex-direction: column;
    align-items: center;
  }
  .testimonial-card {
    max-width: 343px;
  }
}

@media only screen and (min-width: 768px) {
  /* RESULTS CARDS */
  .card-1 > .card-body {
    gap: 30px;
  }
  .card-2 > .card-body,
  .card-4 > .card-body {
    gap: 40px;
  }
  .card-3 > .card-body {
    gap: 20px;
  }
}
@media only screen and (min-width: 992px) {
  /* RESULTS CARDS */
  .cards-row {
    gap: 30px;
  }
}
