/* HERO SECTION */
.hero-section {
  position: relative;
  background: linear-gradient(
      92.25deg,
      #f1f0f5 46.64%,
      rgba(241, 240, 245, 0) 63.63%
    ),
    url("../../images/hero-bg.png"), #f1f0f5;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}

.hero-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 85px 0px;
  gap: 20px;
}

.primary-heading {
  font-weight: var(--fw-medium);
  font-size: var(--fs-h1);
  line-height: 74px;
  text-transform: capitalize;
}
.ph-highlight {
  color: var(--clr-primary-green);
  font-weight: var(--fw-ex-bold);
}
.subheading {
  font-size: var(--fs-h3);
  font-weight: var(--fw-regular);
  line-height: 46px;
}

@media only screen and (max-width: 991px) {
  .primary-heading {
    font-size: 49.6px;
    line-height: 59.2px;
  }
  .subheading {
    font-size: 28.8px;
    line-height: 36.8px;
  }
}

@media only screen and (max-width: 767px) {
  .primary-heading {
    font-size: var(--fs-h1-s);
    line-height: 50px;
  }
  .subheading {
    font-size: var(--fs-h3-s);
    line-height: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .hero-section {
    background-position-x: left;
  }
}
